*,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top {
    height: 100vh;
    box-sizing: border-box;
    background-color: #1f2937;
    padding: 1rem 10rem;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 20px;
}

header div a {
    text-decoration: none;
    color: inherit;
}

.top__main {
    flex: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.top__main_content p:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.top__main_content p:nth-child(2) {
    font-size: 18px;
    color: #E5E7Eb;
}

.top__main_content div {
    margin-top: 1rem;
}

.top__main_content div button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3882f6;
}

.top__main__image {
    position: relative;
    height: 20rem;
}

.img__header {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards {
    margin-top: 2rem;
    padding: 0 10rem;
}

.cards .cards_header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards__container {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    padding: 0 5rem;
}

.card__image {
    border: 3px solid #3882f6;
    width: 12rem;
    height: 10rem;
    position: relative
}

.card__imagee {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__text {
    margin-top: 1rem;
    color: rgb(27, 27, 27);
    text-align: center;
}

.testimony {
    background-color: #E5E7Eb;
    margin-top: 5rem;
    padding: 10rem 10rem;
}

.testimony__main {
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
}

.testimony__footer {
    font-weight: bold;
    text-align: right;
    font-size: 25px;
}

.signup__card {
    padding: 5rem 0;
    margin: 0 10rem;
}

.main__card {
    background-color: #3882f6;
    padding: 2rem 7rem;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__card__header {
    font-weight: bold;
}

.main__card__description {
    font-weight: 300;
}

.main__card__button__container button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background: none;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 2rem 0;
}